{
  "extends": "rallycoding",
  "rules": {
    "arrow-body-style" : 0,
    "global-require" : 0,
    "no-underscore-dangle": 0,
    "max-len" : 0,
    "react/sort-comp" : 0,
    "react-native/no-inline-styles": 0
  },
  "globals": {
    "alert": true
  }
}
